a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  padding: 18px 27px;
  display: inline-block;
  background: white;
  border-radius: 9px;
  text-decoration: none;
  color: $shade4;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;

  &.-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $primary-text-color;

    &:hover {
      background-color: $shade5;
      color: $shade0;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $shade2;
    color: $shade5;
  }
}
