.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}

.two-grids {
  display: grid;
  grid-gap: 32px;

  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}

/* Portrait and Landscape */
@media only screen
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}
