.headline,
.h1 {
  font-family: $FontFamilyHeading;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-decoration: center;
}

.h2 {
  font-family: $FontFamilyHeading;
  text-decoration: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
