.headline,
.h1 {
  font-family: $FontFamilyHeading;
  font-weight: 500;
  margin: 5rem auto;
  text-decoration: center;
  line-height: calc(1em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.h2 {
  font-family: $FontFamilyHeading;
  text-decoration: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
