.navigation {
  font-weight: 300;

  a {
    font-family: $FontFamilyHeading;
    font-weight: 400;
    color: $shade5;
    text-decoration: none;
    margin: 0 8px 0;
    font-size: 18px;

    &[aria-current] {
      color: $primary-color;
      font-weight: 700;
    }

    &:hover {
      color: $primary-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
