$FontFamilyBase: proxima-nova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$FontFamilyHeading: halyard-display,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


html {
  font-size: 16px;
}

body {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $shade6;
}
