$shade0: rgb(252,250,255);
$shade1: rgb(238,237,249);
$shade2: rgb(194,193,219);
$shade3: rgb(144,144,214);
$shade4: rgb(118,118,181);
$shade5: rgb(78,76,132);
$shade6: rgb(39,33,84);

$yellow: #FFB700;

$primary-color: $yellow;

$primary-text-color: $shade6;

$FontFamilyBase: proxima-nova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$FontFamilyHeading: halyard-display,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


/* Portrait and Landscape */
@media only screen
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}
